.form-control.error,input.error:focus {
    border-color: #ff0000;
	margin-bottom: 0px;
}
label.error {
    color: #ff0000;
    float: right;
}
.sign-in-form label input.valid {
    border-color: #09a009;
}
@media (min-width: 1025px) and (max-width: 1239px)  {
	.right-side {
		margin-top: -50px !important;
	}
}	
.button-defualt {
    background-color: #c0c0c0 !important;
    border-color: #c0c0c0 !important;
}
.listing-submit-wrap a {
    width: calc(100% / 2);
    text-align: center;
    color: #fff;
    background-color: #949ca5;
    border-color: #949ca5;
    border-right: 1px solid #fff;
}
@media (max-width: 768px)  {
	.listing-submit-wrap a,.listing-submit-wrap button{
		width:100% !important;
	}
}
.dashboard #logo{
	background-color: #ffffff;
}
.icon-featured.featured {
    color: #ffa500;
}
.label {
    border-radius: 50px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    padding: 3px 8px;
}
.label-success {
    background-color: #64bc36;
    border-color: #64bc36;
}
.label-warning {
    background-color: #fe8f00;
    border-color: #fe8f00;
}
.label-default{
    background-color: #5c7381;
    border-color: #5c7381;
}
.label-danger{
    background-color: #d53824;
    border-color: #d53824;
}